@model List<HOCONLINE.Models.Diem>
@{
    Layout = "~/Views/Shared/Layoutclass.cshtml";
    <script src="~/Scripts/jquery.signalR-2.4.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    var user = Session["user"] as HOCONLINE.Models.TaiKhoan;
    string nguoitao = user.TenDangNhap;
    HOCONLINE.Models.ThongBao tb = new HOCONLINE.Models.ThongBao();
    var malop = Session["malop"].ToString();
  
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script type="text/javascript">
        $(document).ready(function () {
        reset();
        $('.headdiem').css("color", "black");
        $('.headdiem').css("background-color", "white");
        });
        

    </script>
</head>
<body style="margin:5px;margin-top:20px;">
    <div>
        <a href='@ViewBag.excel' style=" background-image: linear-gradient(to right,#0404B4,#A901DB); padding: 5px; padding-left: 15px; padding-right: 15px; color: white; border-radius: 5px; margin-right: 2%" download>Xuất excel </a>
        <a href='@ViewBag.pdf' style=" background-image: linear-gradient(to right,#0404B4,#A901DB); padding: 5px; padding-left: 15px; padding-right: 15px; color: white; border-radius: 5px; margin-right: 2%" download >Xuất PDF </a>   
        <table style="margin-top:10px;width:100%">
            <tr style="width:100%;border-bottom:3px solid #000000;position:page;background-color:white">





                <th style="padding:10px;">
                    <label>Hình đại diện</label>

                <th style="padding: 10px;">
                    <label>Họ tên</label>
                </th>
                <th style=" padding: 10px;">
                    <label>Email</label>
                </th>
                <th style="padding: 10px;">
                    <label>Ngày Tham gia</label>
                </th>
                <th style="padding: 10px;">
                    <label>Số lượng bài đã nộp</label>
                </th>
                <th style="padding: 10px;">
                    <label>Số lượng bài trễ</label>
                </th>
                <th style=" padding: 10px;">
                    <label>Số lượng bài chưa nộp</label>
                </th>
                <th style=" padding: 10px;">
                    <label>Số lượng bài đã chấm</label>
                </th>
                <th style="padding: 10px;">
                    <label>Điểm</label>
                </th>

            </tr>

            @if (Model != null)
            {
                foreach (var i in Model)
                {


                    <tr>






                        <th style="padding:20px; background-color:#E6E6E6;border:3px solid white">
                            <a href="~/Class/Infordiem/@i.taikhoan">
                                <img src=@i.anh width="40" height="40" style="border-radius:5px;" />
                            </a>
                        </th>
                        <th style="padding:20px; background-color:#E6E6E6;border:3px solid white">
                            <a href="~/Class/Infordiem/@i.taikhoan">
                                <label>@i.Hoten</label>
                            </a>
                        </th>
                        <th style="padding:20px;background-color:#E6E6E6;border:3px solid white ">
                            <a href="~/Class/Infordiem/@i.taikhoan">
                                <label>@i.email</label>
                            </a>
                        </th>
                        <th style="padding:20px; background-color:#E6E6E6;border:3px solid white">
                            <a href="~/Class/Infordiem/@i.taikhoan">
                                <label>@i.ngaythamgia.ToString(string.Format("HH:mm:ss dd/MM/yyyy"))</label>
                            </a>
                        </th>
                        <th style="padding:20px;background-color:#E6E6E6;border:3px solid white ">
                            <a href="~/Class/Infordiem/@i.taikhoan">
                                <label>@i.soluongbaitap</label>
                            </a>
                        </th>
                        <th style="padding:20px;background-color:#E6E6E6;border:3px solid white ">
                            <a href="~/Class/Infordiem/@i.taikhoan">
                                <label>@i.soluongtre</label>
                            </a>
                        </th>
                        <th style="padding:20px;background-color:#E6E6E6;border:3px solid white ">
                            <a href="~/Class/Infordiem/@i.taikhoan">
                                <label>@i.soluongchuanop</label>
                            </a>
                        </th>
                        <th style="padding:20px; background-color:#E6E6E6;border:3px solid white">
                            <a href="~/Class/Infordiem/@i.taikhoan">
                                <label>@i.soluongbaicodiem</label>
                            </a>
                        </th>
                        <th style="padding:20px;background-color:#E6E6E6;border:3px solid white ">
                            <a href="~/Class/Infordiem/@i.taikhoan">
                                <label>@i.diem.ToString()</label>
                            </a>
                        </th>

                    </tr>
                }
            }

        </table>
    </div>
</body>
</html>
