@model List<HOCONLINE.Models.CauHoi>
@{
    Layout = "~/Views/Shared/Layoutclass.cshtml";
    var baithi = ViewData["ttbaitt"] as List<HOCONLINE.Models.TTBaiTapTN>;
    var user = Session["user"] as HOCONLINE.Models.TaiKhoan;
    var  nguoitao = user.TenDangNhap;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body style="margin:20px">
    <div style="border:0px solid #000000;border-radius:20px; padding:20px;">
        @if (Model != null)
        {
            int slcau = 0;

            string[] slda = { "A", "B", "C", "D" };
            foreach (var i in Model)
            {
                slcau++;

                int z = 0;
                <h2 style="color:blue">câu @slcau :@Html.Raw(@i.NoiDung)</h2><br />
              
                foreach (var j in i.DapAns.ToList())
                {
                    if (j.LoaiDapAn.Value)
                    {
                        if (i.BaiTap.NguoiTao.Equals(nguoitao))
                        {
                            <label style="color:red;margin-left:40px;margin-top:30px">@slda[z] :@Html.Raw(@j.NoiDung)</label><br />
                        }
                        else
                        {
                            <label style="margin-left: 40px;margin-top:30px">@slda[z] :@Html.Raw(@j.NoiDung)</label><br />
                        }
                    }
                    else if (!j.LoaiDapAn.Value)
                    {
                        <label style="margin-left: 40px;margin-top:30px">@slda[z] :@Html.Raw(@j.NoiDung)</label><br />
                    }
                    z++;



                }
                foreach (var j in baithi)
                {
                    if (i.MaCauHoi.Equals(j.MaCauHoi))
                    {
    <label style="color:darkorange;margin-top:30px">Dáp án đã lựa chọn: @Html.Raw(@j.DapAn.NoiDung)</label>
                    }
                }
                <hr  />
            }
        }


    </div>
</body>
</html>

