@model DOANTOTNGHIEP.Models.TaiKhoan
@{
    var tinnhan = ViewData["tinnhan"] as List<DOANTOTNGHIEP.Models.Mess>;
    var user = Session["user"] as DOANTOTNGHIEP.Models.TaiKhoan;
    string nguoitao = user.TenDangNhap;
    var malop = Session["malop"].ToString();

}
<style type="text/css">
    #noidung::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
    }

        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

    #mess {
        border-radius: 10px;
        padding:10px
    }

    .messthanhvien {
        width: 100%;
        height: 7%;
        border: 0px solid #000000;
        background-color: transparent;
        padding: 5px

    }

    #noidung {
        width: 100%;
        height: 73%;
        border: 0px solid #000000;
        padding: 20px;
        overflow-y: scroll;
        border-radius: 10px;
        background-color: white
    }

    .tinnhandi {
        border-radius: 10px;
        background-color: #A9F5F2;
        padding: 5px;
        word-wrap: break-word;
        max-width: 80%
    }

    .tinnhanden {
        border-radius: 10px;
        background-color: #BDBDBD;
        padding: 5px;
        word-wrap: break-word;
        max-width: 80%
    }

    div#nhan {
        width: 100%;
        height: 20%;
        border: 0px solid #000000;
        padding: 10px;
        padding-left: 0px;
        background-color: transparent
    }

    textarea {
        border-radius: 10px;
        height: 100%;
        width: 100%;
        max-width: 100%;
        resize: none
    }

    #btngui {
        margin-top: 30%;
        font-size: 40px;
        background-color: transparent;
        text-align: center;
        border: 0
    }

    .nutgui {
        float: right;
        height: 100%;
        text-align: center;
        
    }

    .noidungtinnhan {
        width: 95%;
        float: left
    }



    .tennguoinhan {
        margin-left: 30px
    }
</style>

<link href="~/Scripts/emoji/css/emoji.css" rel="stylesheet" />
<script src="~/Scripts/emoji/js/config.js"></script>
<script src="~/Scripts/emoji/js/tam-emoji.min.js"></script>




<script type="text/javascript">


    $(document).ready(function () {


        $('#noidung').scrollTop($('#noidung')[0].scrollHeight);

        load1();
        @*$("#thanhvien").css("background-color", "#F0F0F0");
        $(".thanhvien_@Model.TenDangNhap").css("background-color", "white");
*@
        $("#btngui").click(function () {
            var nn ="@Model.TenDangNhap";
            var tn = $("#tinnhan").val();
            if (tn.length > 0 && tn.indexOf("<p><br></p>") < 0) {
            $.ajax({
                url: '/Class/SaveInforMess', type: 'post',
                data: {
                    nguoinhan: nn,
                    tinnhan: tn,
                }
            });

                $('#tnm').append("<div style='text-align:right'><label class='tinnhandi'>" + tn + "<label style='font-size:10px;color:#848484'>@DateTime.Now.ToString(string.Format("HH:mm "))</label></label></div>");
                $('#noidung').scrollTop($('#noidung')[0].scrollHeight);
            }

        });



    });


    $(function () {

        loadClient();
        var mess = $.connection.chat;
       $.connection.hub.start().done(function () {
           console.log("ket noi thanh cong");
           console.log(mess.connection.id);
           $.ajax({
               url: '/Class/addtoken', type: 'post',
               data: {
                   token: mess.connection.id,
                   user: "@nguoitao",
               }
           });
        });


          $("#btngui").click(function () {

                var tinnhan = $("#tinnhan").val();
              if (tinnhan != '' && tinnhan.indexOf("<p><br></p>") < 0) {
                    mess.server.messages("@nguoitao",'@Model.TenDangNhap',"@malop", $("#tinnhan").val());
                    mess.server.classnames("@nguoitao",'@Model.TenDangNhap',"@malop");
                    $('#tinnhan').summernote('code','');
                    $('#tinnhan').val("");



                }

        });


    });

    function loadClient() {

        var mess = $.connection.chat;
        mess.client.message = function (sender, receiver, malop, message) {
            if (sender == "@nguoitao" && receiver == @Model.TenDangNhap && malop == "@malop" && message != "") {
                $('#tnm').append("<div style='text-align:right'><label class='tinnhandi'>" + message + "<label style='font-size:10px;color:#848484'>@DateTime.Now.ToString(string.Format("HH:mm "))</label></label></div>");
                $('#noidung').scrollTop($('#noidung')[0].scrollHeight);
            }
            else if (receiver == "@nguoitao" && sender == "@Model.TenDangNhap" && malop == "@malop" && message != "") {

                $('#tnm').append("<div style='text-align:left'><label class='tinnhanden'>" + message + "<label style='font-size:10px;color:#848484'>@DateTime.Now.ToString(string.Format("HH:mm "))</label></label></div>");
                $('#noidung').scrollTop($('#noidung')[0].scrollHeight);
            }
            else if (receiver == "@nguoitao" && malop == "@malop" && message != "") {

                $('.divthanhvien').scrollTop(0);
                var s = $("#" + sender).html();

                $("#" + sender).remove();
                $(".nguoimoi").after("<form action='/Class/InforMess/" + sender + "' data-ajax='true' data-ajax-method='POST' data-ajax-mode='replace' data-ajax-update='#mess' id='form1' method='post'> <div style = 'width:100%;border:0px;margin-bottom:0px;' id = 'thanhvien' >" +
                    "<button id='" + sender + "' class='3' style='width: 100%; border: 0px; background-color: transparent; text-align: left; color: red;'>" + s + " </button></div ></form >");

            }
        }

    }
    function load1() {
        document.emojiSource = '../../Scripts/emoji/img';
        document.emojiButton = 'glyphicon glyphicon-heart';
        var myElement = $('#tinnhan');
        myElement.summernote({
            // set editor height
            placeholder: 'Nhập tin nhắn bạn muốn nhắn',
            callbacks: {
                onImageUpload: function (files) {
                    for (var i = 0; i < files.length; i++) {

                        uploadImage(files[i]);
                    }
                },
                onKeydown: function (e) {
                    var tinnhan = $("#tinnhan").val();
                    if (e.keyCode == 13) {
                        var checkenter = $('#checkenter:checked').length;

                        if (checkenter == 1) {
                            $("#btngui").trigger('click');

                        }


                    }


                }
            },
            toolbar: [
                ['insert', [ 'emoji']],

                ['insert', ['link', 'picture']],
                ['view', ['fullscreen', 'undo', 'redo']],
            ],
            disableResizeEditor: true,
            height: 75,
            minHeight: null, // set minimum height of editor
            maxHeight: null, // set maximum height of editor
            focus: true // set focus to editable area after initializing summernote
        });
    }

    function uploadImage(file) {
        var formData = new FormData();
        formData.append("uploadedFiles", file);
        $.ajax({
            data: formData,
            type: "POST",
            url: '/Class/UploadFile',
            cache: false,
            contentType: false,

            processData: false,
            success: function (FileUrl) {

                var imgNode = document.createElement('img');
                imgNode.src = FileUrl;
                $('#tinnhan').summernote('insertNode', imgNode);
            },
            error: function (data) {
                alert(data.responseText);
            }
        });
    }

</script>
<div id="mess">


    <div class="messthanhvien" style="padding:10px">
        <img src=@Model.HinhAnh width="30" height="30" style="border-radius:45px;"><label class="tennguoinhan">  @Model.Ho  @Model.Ten</label>
        <hr />
    </div>
    
    <div id="noidung">
        @{
            int zz = 0;
        }
        @foreach (var i in tinnhan)
        {
            if (zz == 0)
            {

                <div style="text-align:center;"><label style="font-size:10px;color:#848484">@tinnhan[zz].thoigiangui.Value.ToString(string.Format("dd/MM/yyyy"))</label></div>
            }
            if (zz > 0 && zz <= tinnhan.Count - 1 && !tinnhan[zz].thoigiangui.Value.ToString(string.Format("dd/MM/yyyy")).Equals(tinnhan[zz - 1].thoigiangui.Value.ToString(string.Format("dd/MM/yyyy"))))
            {
                <div style="text-align:center;"><label style="font-size:10px;color:#848484">@tinnhan[zz].thoigiangui.Value.ToString(string.Format("dd/MM/yyyy"))</label></div>
            }
            if (i.NguoiGui.Equals(nguoitao))
            {
                <div style="text-align:right;"><label class="tinnhandi">@Html.Raw(@i.TinNhan)<label style="font-size:10px;color:#848484">@tinnhan[zz].thoigiangui.Value.ToString(string.Format("HH:mm "))</label></label></div>
            }
            else
            {
                <div style="text-align:left"><label class="tinnhanden">@Html.Raw(@i.TinNhan)<label style="font-size:10px;color:#848484">@tinnhan[zz].thoigiangui.Value.ToString(string.Format("HH:mm "))</label></label></div>
            }
            zz++;
        }
        <div id="tnm"></div>
    </div>
    <div id="nhan">

        <div class="noidungtinnhan">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="checkenter" id="checkenter">
                <label class="form-check-label" for="checkenter">
                   enter to send message
                </label>
            </div>
            <textarea id="tinnhan" required></textarea>
        </div>
        <div class="nutgui" style="text-align:center">
            <button class="fa fa-envelope" id="btngui"></button>
        </div>




    </div>

</div>
