@model DOANTOTNGHIEP.Models.TaiKhoan
@using CaptchaMvc.HtmlHelpers;
@{
    Layout = null;


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="keywords" content="Report Login Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design">
    <!-- //Meta tag Keywords -->
    <link href="//fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&amp;display=swap" rel="stylesheet">
    <link href="~/Content/css/login.css" rel="stylesheet" />
</head>
<body>

    <div class="logina">
        <div class="login">

            <h2>Login</h2>
            @using (Html.BeginForm("checkaccount", "Login", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="group">
                    @Html.TextBoxFor(model => model.TenDangNhap, new { @class = "text", @autofocus = "autofocus", placeholder = "Username", autocomplete = "off", @required = "required" })
                </div>
                <div class="group">
                    @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "password", type = "password", placeholder = "Password", autocomplete = "off" , @required = "required" } })
                </div>
                <div class="group">
                    @Html.Captcha(5)
                </div>
                <br />
                <button id="login" type="submit">Login</button><br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger", @color = "White" })
                <br />

            }

            <p class="fs">Forgot  <a href="~/Account/Forgotpass">Password</a> ? </p>
            <p class="ss">Don't have an account? <a href="~/Account/Register">Signup</a></p>

        </div>
    </div>
</body>

</html>
